#container {
  /* border: 3px solid green; */
  display: flex;
  flex-wrap: wrap;
  width: calc(100vw - 15px);
}

#desktop-spacer {
  /* width: 400px; */
  width: 300px;
  /* width: 40vw; */
  flex-grow: 1;
}

#mapAndControls {
  /* border: 3px solid orangered; */
  height: calc(100vh - 52px);
  /* height: 100vh; */
  width: 600px;
  /* width: 60vw; */
  flex-grow: 2;
}
